.page-toc {
    margin: 1em;
    padding: 1em;
    width: auto;
    border: 1px solid #ddd;
}

.latest_posts h2{
    padding-top: 1em;
}

.latest_posts ul {
	list-style: none;
	display: block;
    text-align: left;
}

.centered .about .latest_posts ul li{
    display: block;
}