body {
  font-family: 'Inter', sans-serif;
  font-family: 'M PLUS 1p', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-family: 'M PLUS 1p', sans-serif;
}


.page-toc {
    margin: 1em;
    padding: 1em;
    width: auto;
    border: 1px solid #ddd;
}

.latest_posts h2{
    padding-top: 1em;
}

.latest_posts ul {
	list-style: none;
	display: block;
    text-align: left;
}

.centered .about .latest_posts ul li{
    display: block;
}

/*
.raw-col-title {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}
.raw-col-title th {
 padding: 10px;
 background: #778ca3;
 border: solid 1px #666666;
 color: #ffffff;
}
.raw-col-title td {
 padding: 10px;
 border: solid 1px #666666;
}
.raw-col-title td:first-child {
 background: #e9faf9;
}
*/

.simple_table thead,
tfoot {
  background-color: #3f87a6;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}

td {
  text-align: center;
}

